<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grindcore Greats</title>
  </head>
  <body>
    <div>
      <h1>Albums</h1>
      <h2>Welcome to my site about my favorite Grindcore albums!</h2>
      <p>Sorry in advance for the crazy album covers</p>
      <a href="/top-albums">Skip straight to the greats</a>
      <p>we b wild in these mean streets</p>
      <img src="/images/an-example-must-be-made.jpg" />
      <a href="/Albums">check em out here!</a>
    </div>
  </body>
</html>
